body {
  writing-mode: vertical-rl;
}
/*
=============== 
Colors
===============
*/
.colors {
  margin-bottom: 2rem;
}
.colors .btn {
  width: 20px;
  height: 20px;
  padding: 0.25rem 0.5rem;
  border-radius: 50%;
  transition: var(--transition);
  cursor: pointer;
}
.colors .btn.white {
  background: #fff;
  border: 1px solid #b3b2b2;
}
/* .colors .btn.gray {
  background: #b3b2b2;
} */
.colors .btn.black {
  background: #000;
}

/*
=============== 
Toggle text
===============
*/
.toggle-text {
  position: fixed;
  top: 0.5rem;
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  color: var(--clr-btn);
  transition: var(--transition);
  cursor: pointer;
  writing-mode: horizontal-tb;
  display: flex;
}
.toggle-text .active-color {
  color: var(--clr-btn-02);
}
.toggle-text .toggle-text-btn {
  color: var(--clr-btn);
}
.toggle-text p {
  font-size: 1.5rem;
}
.toggle-text .toggle-icon i {
  transition: var(--transition);
}
.rotate {
  transform: rotate(90deg);
}

/*
=============== 
Contets
===============
*/
.container {
  margin: 4rem 0;
}
.section {
  position: relative;
}
.title {
  margin-top: 4rem;
}
.section h3 {
  margin: 0 3rem;
}
.section .minus-icon {
  display: none;
}
.section .kobun-text {
  position: relative;
}
.section .translate {
  position: absolute;
  bottom: 0;
  left: 1em;
}
.section .translate-text {
  display: none;
  opacity: 0.6;
  max-width: 0;
  transition: var(--transition);
  overflow: hidden;
}
.show-text .translate-text {
  display: block;
  opacity: 1;
  max-width: 100%;
}
.section .translate-text p {
  font-weight: 200;
  margin: 0 2rem;
}
.section .translate-btn {
  color: var(--clr-btn);
}
.show-text .minus-icon {
  display: block;
}
.show-text .plus-icon {
  display: none;
}

/*
=============== 
Sidebar
===============
*/
.sidebar-open-btn,
.sidebar-close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-btn);
  transition: var(--transition);
  cursor: pointer;
}
.sidebar-open-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
}
.sidebar {
  display: none;
  writing-mode: horizontal-tb;
  padding: 2rem;
  position: absolute;
  z-index: 99;
}
.translate-sidebar.sidebar {
  display: block;
}
/* sidebarR */
.sidebarR h4 {
  color: var(--clr-bcg);
}
.sidebarR .mokuji-title {
  margin-bottom: 2rem;
}
.sidebar .mokuji {
  font-size: 2rem;
  color: var(--clr-black);
}
.sidebarR .mokuji li a {
  transition: var(--transition);
  color: var(--clr-bcg);
}
.sidebarR .sidebar-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.sidebarR {
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  background: var(--clr-sidebar);
}
/* sidebarL */
.sidebarL {
  bottom: 0;
  height: 40%;
  width: 100%;
  background: var(--clr-btn);
  text-align: right;
}
.sidebarL-word-box {
  text-align: left;
}
.sidebarL .sidebar-close-btn {
  color: #fff;
}
.sidebarL h4 {
  color: var(--clr-font);
  font-weight: 400;
}
@media (min-width: 768px) {
  .sidebar {
    width: 400px;
  }
  .sidebarL {
    left: 0;
    top: 0%;
    height: 100%;
    background: var(--clr-btn);
    text-align: right;
  }
}

/*
=============== 
Append Class
===============
*/
.word {
  cursor: pointer;
  transition: var(--transition);
  color: var(--clr-primary);
}

.simonoku {
  margin-top: 8em;
}

.figure {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.figure img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  vertical-align: bottom;
}
.textIndent {
  text-indent: 1em;
}
.sectionSpace {
  margin-left: 2rem;
}
